
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

header {
    background: linear-gradient(90deg, #ff5733, #ff8d72);
    color: #fff;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}

header a:hover {
    color: #ffeaa7;
}

#payment {
    padding: 60px 20px;
    background-color: #fff;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#payment h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

#payment p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #555;
}


form {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

select {
    padding: 12px 15px;
    font-size: 16px;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: border 0.3s ease;
}

select:focus {
    border: 1px solid #ff5733;
    outline: none;
}

button {
    padding: 12px 30px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #c0392b;
    transform: translateY(-5px);
}

button:active {
    background-color: #e74c3c;
    transform: translateY(2px);
}

@media (max-width: 768px) {
    #payment {
        padding: 40px 15px;
    }

    #payment h1 {
        font-size: 28px;
    }

    #payment p {
        font-size: 16px;
    }
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c0392b; 
}



.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #c0392b; 
}
